@import url('../__cards/__card/comments__card.css');

.comments__cards {
    margin-top: 72px;
    display: flex;
    width: 1184px;
    justify-content: space-between;
}
@media screen and (max-width: 1280px) {
    .comments__cards {
        width: 100%;
    }
}
@media screen and (max-width: 1025px) {
    .comments__cards {
        width: 382px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 66px;
    }
}