@import url('./__img-figcaption/about__img-figcaprion.css');
@import url('./__img/about__img.css');

.about__figure {
    margin-top: 75px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}