.comments__quote {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-top: 42px;
    margin-bottom: 0;
}
/** 768px **/
@media screen and (max-width: 1023px) {
    .comments__quote {
        margin-top: 24px;
        order: 1;
    }
}