.comments__quote {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-top: 42px;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .comments__quote {
        margin-top: 16px;
        font-size: 16px;
        line-height: 23px;
    }
}
@media screen and (max-width: 768px) {
    .comments__quote {
        max-width: 343px;
    }
}