@import url('./__quote/comments__quote.css');
@import url('./__author/comments__author.css');
@import url('./__img/comments__img.css');

.comments__card {
    width: 382px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
/** 1024 **/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .comments__card {
        width: 296px;
    }
}
