@import url('./popupImg__content/popupImg__content.css');

.popupImg {
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    display: none;
}