.Post {
    display: flex;
    align-items: center;
}
.Post__img {
    width: 50px;
    height: 50px;
}
.Post__p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}
.Post__like {
    margin-left: 40px;
}