@import url('../__info/_author/intro__info_author.css');
@import url('../__info/_date/intro__info_date.css');

.intro__info {
    width: 283px;
    font-family: "Inter" , Arial, sans-serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
}