@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

* {
    color: black;
    font-weight: 100; 
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
}
.header-navbar {

}