@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');


* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-family: 'Quantico', sans-serif;
}
.header {
    height: 80px;
    background-color: #F2F2F2;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-logo {
    font-family: 'Quantico', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 51px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.header-nav {
    font-family: 'Quantico', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 34px;
    width: 523px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-right: 400px;
}
.header-nav a {
    color: #7B7A7A;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}
.header-nav a:hover {
    color: black;
    transition: 0.5s;
}
.header-nav a::after {
    content: '';
    position: absolute;
    left: -100%;
    bottom: 5px;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid black;
}
.header a:hover::after {
    transform: translateX(100%);
    transition: 0.4s;
}
.aboutMe {
    width: 100%;
    font-family: 'Quantico', sans-serif;
    height: calc(100vh - 100px);
    padding-top: 100px;
    background-color: #F2F2F2;
}
.aboutMe-h1 {
    text-shadow: 4px -2px 0px #9D9D9D;
    margin-top: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 100px;
    height: 172px;
    margin-left: 5%;
}
.aboutMe-h2 {
    text-shadow: 4px -2px 0px #9D9D9D;
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 90px;
    height: 143px;
    margin-left: 5%;
    margin-top: -40px;
}

/* PORTFOLIO */
.portfolio {
    width: 100%;
    height: 100vh;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-box {
    display: flex;
    align-items: center;
}
.arrow-left {
    margin-right: 10px;
    margin-top: 50px;
}
.portfolio-slide {
    transition: 0.4s;
    margin-top: 80px;
    height: 512px;
    width: 720px;
    background-image: url(img/s1.jpg);
    background-size: cover;
    box-shadow: 4px 4px 5px rgba(132, 127, 127, 0.52);
}
.arrow-right {
    margin-top: 50px;
    margin-left: 10px;
}
.slider-index {
    display: flex;
    margin-top: 20px;
    margin-left: -500px;
}
.slide-index1, .slide-index2, .slide-index3, .slide-index4, .slide-index5 {
    background: #C4C4C4;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    margin-right: 5px;
}
.slide-index1 {
    background-color: white;
}

/* SKILLS */
.skills {
    width: 100%;
    height: 100vh;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.skills-h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 86px;
    margin-left: 5%;
}
.skills-p {
    font-size: 18px;
    line-height: 34px;
    margin-left: 5%;
    margin-top: 40px;
    width: 90%;
}
.skil {
    font-size: 18px;
    line-height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    margin-top: 40px;
    width: 90%;
    margin-left: 5%;
 
}
.skil1, .skil2{
    display: flex;
    justify-content: space-between;
}


/* CONTACTS */
.contacts {
    height: calc(100vh - 80px);
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
}
.soc {
    margin-top: 100px;
    font-size: 18px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: #c4c4c4;
    
}
.form {
    height: 65px;
    width: 600px;
    position: relative;
    margin-bottom: 50px;
}
.form3 {
    margin-bottom: 10px;
}
.sendbox {
    display: flex;
    flex-direction: column;
}
input {
    margin-bottom: 48px;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #cfcfcf;
    background-color: #f2f2f2;
}
label {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-size: 18px;
}
label::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid black;
    transform: translateX(-100%);

}
label span {
    color: #cfcfcf;
    position: absolute;
    bottom: 15px;
    left: 0px;
    transition: 0.4s;
}
input:focus + label::after{
    transform: translateX(0%);
    transition: 0.4s;
}
input:focus + label span,
input:valid + label span {
    transform: translateY(-150%);
    color: black;
    transition: 0.4s;
    font-size: 14px;
}
.sendbutton {
    margin-top: 10px;
    
    background-color: #f2f2f2;
    border: none;
    outline: none;
    font-size: 18px;
}
#sendbutton {
    width:600px;
    display: flex;
    justify-content: flex-end;
}
.sendbutton:active {
    Color: #7B7A7A;;
}




/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #F2F2F2;
    font-family: 'Quantico', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 4px;
    width: 100%;
}




@media (max-width: 1000px){
    .aboutMe-h1 {
        font-size: 115px;
    }
    .aboutMe-h2{
        font-size: 85px;
    }
}
@media (max-width: 990px) {
    .portfolio-slide {
        width: 360px;
        height: 240px;
    }
    .slider-index {
        justify-self: flex-start;
        margin-left: 0px;
    }
    .sendbutton{
        margin-left: 0px;
    }
    .form {
        width: 400px;
    }
    #sendbutton {
        width: 400px;
    }
}
@media (max-width: 724px) {
    .aboutMe-h2 {
        margin-top: 10px;
    }
} 


@media (max-width: 475px) {
    .header-nav {
        display: none;
    }
    .header {
        justify-content: flex-start;
        width: 100%;
    }
    .header-logo {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .aboutMe {
        height: 100vh;
    }
    .portfolio-slide {
        height: 240px;
        width: 280px;
        margin-top: 0px;
    }
    .aboutMe-h1 {
        width: 313px;
        height: 203px;
        font-size: 96px;
        line-height: 100px;
        margin-left: 5%;
    }
    .aboutMe-h2 {
        width: 351px;
        height: 50px;
        font-size: 56px;
        line-height: 51px;
        margin-left: 5%;
        text-shadow: none;
        margin-top: 5px;
    }
    .slider-index {
        margin-left: 0px;
    }
    .portfolio {
        height: 300px;
    }
    .contacts {
        height: 70vh;
    }
    .form {
        width: 300px;
    }
    #sendbutton {
        width: 300px;
    }
    .sendbutton {
        margin-top: 10px;
        margin-left: 250px;
    }
}