* {
  margin: 0px;
  font-size: 25px;
  text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto; 
  grid-template-rows: 80px 1000px 80px;
}
.site-header {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #26292E;
}

.site-main{
  grid-column-start: 1;
  grid-column-end: 5;
  background-image: url(img/peachy-flecks.png);
  background-repeat: ;
}
.site-footer {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #26292E;
}
.contacts {
  padding: 20px 20px 20px 45px;
}
.logo {
  padding: 20px 20px;
  float: left;
  color: white;
}

a {
  color: white;
  margin-left: 30px;
}