.cover__subtitle {
    width: 382px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;   
    z-index: 1;
}