.cover__subtitle {
    width: 382px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;   
    z-index: 1;
}
@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 768px) {
    .cover__subtitle {
        max-width: 343px;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 375px) {
    .cover__subtitle {
        max-width: 288px;
    }
}
