@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap'); /* font-family: 'Raleway', sans-serif; */
@import url(http://allfont.ru/allfont.css?fonts=raleway-semibold); /*  font-family: 'Raleway SemiBold', arial; */

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body {
    min-width: 1500px;
}

/* HEADER */
.header {
    background-image: url(img/header/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header-main {
    position: relative;
    z-index: 1;
}
.header-opacity {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #061e37;
    background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%);
    opacity: 0.9;
}
.header-navbar {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo {
    margin-left: 80px;
}
.navbar-a  a{
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-right: 50px;
}
.navbar-a a:last-child {
    margin-right: 0px;
}
.navbar-a a:hover {
    color: black;
}
.navbar-button {
    margin-right: 80px;
    width: 80px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-button span {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
}
.header-main-block {
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-main-text {
    height: 325px;
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.main-text-h1 {
    width: 471px;
    height: 107px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: bold;
    line-height: 65px;
    text-transform: uppercase;
}
.main-text-p {
    height: 88px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
}
.main-text-but {
    display: flex;
    height: 60px;
    width: 340px;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.text-but-1 {
    color: #ffffff;
    width: 150px;
    height: 55px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #061e37;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-but-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 55px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #ffffff;
}
.header-main-video {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 720px;
    height: 325px;
}
/*  EASY SECTION  */
.easyuse {
    height: 800px;
    background-color: #fff;
}
.easyuse-header {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Raleway SemiBold', arial;
}
.easyuse-header h1 {
    margin-top: 100px;
    color: #061e37;
    font-size: 45px;
    font-weight: 400;
}
.easyuse-header h2 {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 400;
}
.easyuse-header p {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    width: 555px;
    color: #b0bec5;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
.easyuse-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 215px;
}
.easyuse-main-block {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.easyuse-main-block h1 {
    color: #061e37;
    font-family: "Raleway - Semi Bold", arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}
.easyuse-main-block p {
    color: #78909c;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.easyuse-foot {
    height: 235px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.easyuse-foot-but button {
    width: 150px;
    height: 55px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #1de9b6;
    color: white;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
}
/* BUTTON SECTION */
.but-sec {
    height: 150px;
    display: flex;
}
.butsec {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.butsec1 {
    background-color: #80d8ff;
}
.butsec2 {
    background-color: #82b1ff;
}
.butsec3 {
    background-color: #b388ff;
}
.butsec4 {
    background-color: #ea80fc;
}
.butsec-text {
    padding-left: 20px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Raleway SemiBold', arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}
/* SERVICES SECTION */
.services {
    height: 760px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serv_main {
    height: 700px;
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.servmain-text {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.servmain-text p {
    color: #b0bec5;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin-top: 30px;
}
.servmain-text h1 {
    color: #061e37;
    font-family: 'Raleway SemiBold', arial;
    font-size: 45px;
    font-weight: 400;
}
.servmain-card {
    width: 660px;
    height: 270px;
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.card-header {
    width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    align-items: center;
    display: flex;
    width: 120px;
    justify-content: space-between;
}
.card-main {
    width: 620px;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    
}
.card-main p {
    margin-left: 10px;
    color: #061e37;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.45px;
}
.card-fot {
    height: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.servmain-block {
    width: 660px;
    height: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
}
.servmain-block-logo {
    margin-left: 10px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.servmain-block-logo img {
    margin-left: 10px;
}
.servmain-block-logo h1 {
    margin-left: 10px;
}
.block-logo-a {
    display: flex;
    width: 140px;
    justify-content: flex-start;
    align-items: center;
}