@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url(http://allfont.ru/allfont.css?fonts=hammersmith-one);
@import url(http://allfont.ru/allfont.css?fonts=playfair-display-black);
@import url(http://allfont.ru/allfont.css?fonts=playfair-display);
@import url(http://allfont.ru/allfont.css?fonts=playfair-display);
@import url(http://allfont.ru/allfont.css?fonts=roboto-black);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    min-width: 1200px;
}
.header {
    height: 670px;
    width: 100%;
    background-image: url(img/header/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-block-opacity {
    position: absolute;
    top: 0;
    left: 0;
    height: 670px;
    width: 100%;
    background-image: url(img/header/bg-opacity.png);

}
.header-nav {
    height: 80px;
    display: flex;
    width: 940px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.nav a {
    margin-right: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.33px;
}
.nav a:hover {
    color: #00e0d0;
    letter-spacing: 0.33px;
}
.header-text {
    z-index: 1;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.text-h1 {
    color: #ffffff;
    font-family: 'Playfair Display Black', arial;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.32px;
}
.text-line {
    width: 50px;
    height: 1px;
    background-color: #00e0d0;  
    margin-bottom: 30px;
    margin-top: 20px;
}
.text-p {
    width: 771px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.7px;
}
.header-button {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.header-button span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-family: 'Hammersmith One', arial;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.header-index {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
}
.index-cirlce {
    width: 10px;
    height: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 100px;
    margin-right: 5px;
}
.index-cirlce:hover {
    background-color: #00e0d0;
    border: none;
}

/* OUR STORY */
.ourstory {
    height: 400px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.ourstory-main {
    width: 960px;
    display: flex;
    height: 100%;
    align-items: center;

}
.ourstory-main-img {
    width: 435px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ourstory-main-text {
    height: 260px;
    width: 525px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.ourstory-h1 {
    color: #413d4b;
    font-family: 'Playfair Display', arial;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}
.ourstory-p {
    opacity: 0.75;
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.42px;
}
.ourstory-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-family: "Hammersmith One", arial;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.video-story {
    height: 550px;
    background-image: url(img/section-video-bgi.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-story-opacity {
    position: absolute;
    height: 550px;
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: 0.85;
    top: 1070px;
    width: 100%;
}
.video-story-box {;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.story-box-button {
    background-image: url(img/play-button.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: 50% 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 3px solid white;
}
.story-box-h1 {
    font-family: 'Roboto Black', arial;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    z-index: 1;
}

/* EXPERTISE */
.expertise {
    text-align: center;
    height: 750px;
    background-color: #fff; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.expertise-text {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.expertise-text-h1 {
    color: #413d4b;
    font-family: "Roboto - Black", arial;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.expertise-text-p {
    margin-top: 15px;
    margin-bottom: 18px;
    opacity: 0.75;
    color: #333333;
    font-family: 'Roboto', arial;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.expertise-text-line {
    width: 50px;
    height: 2px;
    background-color: #413d4b;
    opacity: 0.3;
}
.expertise-main {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 500px;
}
.expertise-main-box {
    box-sizing: border-box;
    width: 320px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.expertise-main-box2 {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.expertise-main-box1,.expertise-main-box3  {
    border-bottom: 1px solid #000000;
}
.expertise-main-box5 {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;    
}
.expertise-main-box img {
    width: 50px;
    height: 50px;
}
.expertise-main-box-h1 {
    color: #413d4b;
    font-family: "Roboto - Black", arial;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}