.intro__subtext {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 383px;
    font-family: 'Inter', arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
}