.Login {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 260px;
    justify-content: space-between;
}

.Login__button {
    height: 60px;
    font-size: 20px;
    outline: none;
}
.Login__button:hover {
    cursor: pointer;

}
