.Messages {
    grid-area: content;
}
.Messages__h1 {
    margin-top: 0;
}
.Messages__container {
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.Messages__chat-list {
    width: 25%;
    display: flex;
    flex-direction: column;
}
.Messages__send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    align-self: flex-end;
    background-color: #5b88bd;
    color: white;
    outline: none;
    width: 120px;
    height: 25px;
    border: 1px solid gray;
}
.Messages__textarea {
    margin-top: 20px;
    width: 100%;
    min-height: 100px;
    resize: none;
}