@import url('./header__button-img-search/header__button-img-search.css');

.header__button-search {
    width: 132px;
    height: 132px;
    background: #E0E0E0;

    display: flex;
    justify-content: center;
    align-items: center;
}