@import url('./header__button-search/header__button-search.css');
@import url('./header__button-view/header__button-view.css');


.header__right-section {
    width: 970px;
    height: 100%;
    background-color:#F36956;

    display: flex;
    justify-content: flex-end;
}