.intro__p {
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 683px;
    font-family: "Inter" , Arial, sans-serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-right: 18px;
}

@media screen and (max-width: 768px) {
    .intro__p {
        max-width: 343px;
        font-size: 16px;
        line-height: 27px;
        margin-right: 0;
    }
}