@import url('./__close/popupImg__close.css');
@import url('./__bigImage/popupImg__bigImage.css');

.popupImg__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}