.UserPosts {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
.UserPosts__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    align-self: flex-end;
    background-color: #5b88bd;
    color: white;
    outline: none;
    width: 120px;
    height: 25px;
    border: 1px solid gray;
}
.UserPosts__textarea {
    min-height: 100px;
    resize: none;
}