@import url('../__bot/__img/card__img.css');
@import url('../__bot/__paragraph/card__paragraph.css');

.card__bot {
    display: flex;
    margin-top: 60px;
}
@media screen and (max-width: 1280px) {
    .card__bot{
        margin-top: 40px;
    }
}