@import url('../intro/__title/intro__title.css');
@import url('../intro/__subtitle/intro__subtitle.css');
@import url('../intro/__text/intro__text.css');
@import url('../intro/__text/__info/intro__info.css');
@import url('../intro/__subtexts/intro__subtexts.css');

.intro {
    width: 984px;
    margin: 80px auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.intro-bold {
    font-weight: bold;
}