@import url('../../blocks/comments/__cards/comments__cards.css');
@import url('../../blocks/comments/__subtitle/comments__subtitle.css');
@import url('../../blocks/comments/__title/comments__title.css');

.comments {
    margin: 102px auto 0px;
    width: 1184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}