.UserInfo {
    display: flex;
    flex-direction: column;
}
.UserInfo__img {
    width: 150px;
    height: 150px;
}
.UserInfo__info {
    margin-left: 10px;
}
.UserInfo__info-item {
    margin-top: 0px;
    margin-bottom: 0px;
}
.UserInfo__content {
    margin-top: 20px;
    display: flex;
}
.UserInfo__bg-Img {
    width: 100%;
    height: 150px;
}