.user-info__edit {
    margin-top: 20px;
    border: 1px solid gray;
    font-size: 12px;
    width: 40px;   
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.user-info__edit:hover {
    background-color: #fff;
    color: black;
}