@import url(http://allfont.ru/allfont.css?fonts=open-sans-semibold);
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-family: "Open Sans - Semibold";
}

.header {
    background-image: url(img/pexels-photo-356056.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header-nav {
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background-color: #fff;
    display: flex;
}
.header-nav a {
    color: #212121;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 1px;
}
.navigation {
    margin-left: 344px;
    display: flex;
    width: 650px;
    justify-content: space-between;
}
.header-nav-logo {
    margin-left: 112px;
}
.search-button {
    margin-right: 121px;
}
.opacity-block {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 100%;
    height: calc(100vh - 120px);
    background-color: black;
    opacity: 0.80;
}
.header-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    z-index: 1;
}
.header-main-button {
    margin-top: 60px;
    width: 465px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.our-services{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 66px;
    border: 2px solid white;
    color: white;
}
.hereisnow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00897b;
    width: 220px;
    height: 70px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.header-main-h1 {
    height: 60px;
    color: #ffffff;
    font-family: 'Open Sans Semibold', arial;
    font-size: 60px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 3px;
    margin-top: 180px;
}
.header-main-p {
    height: 22px;
    color: #ffffff;
    font-family: 'Open Sans Semibold', arial;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.1px;
}
.button-down{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}


/*  SECTION ABOUTUS  */
.aboutUs {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.aboutUs-icons{
    margin-bottom: 100px;
    display: flex;
    width: calc(100% - 340px);
    justify-content: space-between;
    text-align: center;
}
.af {
    width: 254px;
    color: #212121;
    font-family: "Open Sans", arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.75px;
}
h3 {
    margin-bottom: 20px;
}
.imgaf {
    margin-bottom: 20px;
}


.aboutUs-text {
    margin-top: 100px;
}
.abouth2 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #212121;
    font-family: "Open Sans", arial;
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1.5px;
}
.aboutp {
    width: 620px;
    margin-top: 35px;
    height: 38px;
    color: #212121;
    font-family: "Open Sans", arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-align: center;
}

/* ourservices */

.ourservices {
    height: 1414px;
    background-color: #e4fdf9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ourservices-text{
    margin-top: 170px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 620px;
}
.services-text-h1 {
    color: #212121;
    font-family: "Open Sans", arial;
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1.5px;
}
.services-text-p {
    margin-top: 36px;
    color: #212121;
    font-family: "Open Sans", arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-align: center;
}
.ourserv-box-p {
    width: 271px;
    height: 90px;
    color: #212121;
    font-family: "Open Sans", arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.75px;
    text-align: center;
}
.ourserv-box-h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 19px;
    color: #212121;
    font-family: "Open Sans - Semibold", arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
}
.ourserv-box-button {
    width: 140px;
    height: 60px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    color: #212121;
    font-family: "Open Sans - Semibold", arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.ourservices-box {
    display: flex;
    flex-wrap: wrap;
    width: 1217px;
    margin-top: 120px;
}
.ourserv-box {
    width: 370px;
    height: 438px;
    background-color: #ffffff;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.ourserv-box img {
    margin-top: 50px;
    width: 56px;
    height: 62px;
}
.ourserv-box:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
    background-color: #00897b;
}
.ourserv-box-button:hover {
    border: 2px solid white;
    color: white;
}

/*   LATEST WORKS */

.lastworks {
    height: 1616px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lastworks-text {
    font-family: "Open Sans", arial;
    margin-top: 130px;
    width: 620px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.lastworks-h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1.5px;
}
.lastworks-p {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.75px;
}
.lastworks-button-section {
    width: 687px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}
.lastworks-button {
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #00897b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lastworks-button:hover {
    background-color: #00897b;
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}
.all {
    width: 100px;
}
.webdesign {
    width: 180px;
}
.uxdesign {
    width: 180px;
}
.mockups {
    width: 180px;
}
.lastworks-box {
    margin-top: 120px;
    width: 1200px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}
.box-example {
    margin-left: 30px;
    margin-top: 30px;
    width: 370px;
    height: 370px;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-example1 {
    background-image: url(img/box-example1.png);
}
.box-example2 {
    background-image: url(img/box-example2.png);
}
.box-example3 {
    background-image: url(img/box-example3.png);
}
.box-example4 {
    background-image: url(img/box-example4.png);
}
.box-example5 {
    background-image: url(img/box-example5.png);
}
.box-example6 {
    background-image: url(img/box-example6.png);
}
.end-button {
    width: 220px;
    height: 70px;
    background-color: #00897b;
    margin-top: 130px;
}
.end-button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}