@import url('../__right-sec/__icon/__icon.css');
@import url('../__right-sec/__name/video__name.css');
@import url('../__right-sec/__duration/video__duration.css');
@import url('../__right-sec/__subname/video__subname.css');
@import url('../__right-sec/__opacity/video__opacity.css');

.video__right-sec {
    border-radius: 5px;
    position: relative;
    width: 583px;
    height: 323px;
    background-image: url(/images/video/Image2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}