.additional__card-name {
    width: 248px;
    font-family: 'Inter', arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 29px;
    position: absolute;
    top: 30px;
    left: 18px;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
}