.video__opacity {
    position: absolute;
    left: 0;
    top: 0;
    width: 583px;
    height: 323px;
    background-color: black;
    opacity: .5;
}
.video__opacity:hover {
    opacity: .8;
    transition: .4s;
}