@import url('../__nav/__link/footer__link.css');

.footer__nav {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
/** 375px **/
@media screen and (max-width: 767px) {
    .footer__nav {
        display: flex;
        flex-direction: column;
    }
}

 