@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Antonio', sans-serif;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(38,68,57,1) 10%, rgba(11,27,46,1) 100%);
    z-index: -1;
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}

#logo {
    grid-column: 2/3;
    font-size: 24px;
}

.hamburger {
    width: 20px;
    height: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    justify-self: end;
    border-radius: 10px 0 10px 0;
    overflow: hidden;
}

.hamburger div {
    width: 100%;
    height: 2px;
    background: #fff;
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 60%;
    width: 100%;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 100px;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 3;
}

.hero::after {
    content: '';
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.3;
    top: 0;
}
