.card__title {
    width: 457px;
    font-family: 'Inter', arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    margin-top: 0px;
    margin-bottom: 0px;
}
@media screen and (max-width: 1280px) {
    .card__img {
        width: 440px;
    }
}