.cover__title {
    width: 1095px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: white;
    z-index: 1;
    position: absolute;
    top: 274px;
    left: 38px;
    margin-top: 0;
    margin-bottom: 0;   
}